# ========================
# directories
# ========================
/.vscode/

/neuralnet/cvae/src/__pycache__/
/neuralnet/cvae/results/

/neuralnet/vae/src/__pycache__/
/neuralnet/vae/results/

/data_analysis/.vscode/


# ========================
# files
# ========================
/.DS_Store

/neuralnet/cvae/.DS_Store
/neuralnet/cvae/src/.DS_Store
/neuralnet/cvae/src/playground.py

/neuralnet/vae/.DS_Store
/neuralnet/vae/src/.DS_Store
/neuralnet/vae/src/playground.py
