# ========================
# directories
# ========================
/.vscode/

/newralnet/cvae/src/__pycache__/
/newralnet/cvae/results/

/newralnet/vae/src/__pycache__/
/newralnet/vae/results/

/data_analysis/.vscode/


# ========================
# files
# ========================
/.DS_Store

/newralnet/cvae/.DS_Store
/newralnet/cvae/src/.DS_Store
/newralnet/cvae/src/playground.py

/newralnet/vae/.DS_Store
/newralnet/vae/src/.DS_Store
/newralnet/vae/src/playground.py
